<div class="overlay"></div>
<mat-card appearance="outlined">
  <mat-card-header class="card-header">
    <mat-card-title class="card-title">{{ task().title }}</mat-card-title>
    <mat-card-actions>
      <button matButton (click)="onEditClick()"><mat-icon>edit</mat-icon>Edit</button>
      <button matButton class="delete-btn" (click)="onDeleteClick(task().taskId)" ><mat-icon>delete</mat-icon>Delete</button>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content class="card-content">
    <p>
      {{ task().description }}
    </p>
    <mat-card-actions class="card-footer">
      <app-drop-down [selectedStatus]="task().status" />
    </mat-card-actions>
  </mat-card-content>
</mat-card>
