main {
    padding: 1rem;
}

.task-container {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;

    @media (min-width:992px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.filter {
    display: flex;
    align-items: center;
    gap:2rem;
}